
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	background: rgb(255, 255, 255);

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;

}

.title-row {
	width: 100%;

	/* Space above and below the title */
	padding-top: 6rem;
	padding-bottom: 35rem;
	background-image: url("../data/black-illustration-police-space-artwork-graphic-design-ART-darkness-graphics-1920x1080-px-computer-wallpaper-fictional-character-font-843208.jpg");
	object-fit: fill;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.title-row h1 {
	font-size: 3.5rem;
	color: rgb(255, 255, 255);
	font-variant: stylistic;
	padding-left: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	text-shadow: black 0 0 2rem;
}

.width-limited {
	max-width: 80rem;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

/* Top navigation bar */
nav {
	width: 100%;

	padding-top: 1rem;
	padding-bottom: 1rem;

	background-color: rgb(0, 2, 4);
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
	color: rgb(251, 251, 251);


}

/* Style of the list of links in the navbar */
nav ul {

	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;

}

/* Space between links */
nav li {
	margin-right: 3rem;
}

p {
	color: rgb(8, 8, 8);
	text-align: justify;
	font-family:  Georgia, 'Times New Roman', Times, serif;

}


.box {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;

	max-width: 85rem;
	background-color: rgba(114, 165, 227, 0.1);

	border: 2px solid var(--theme-color-dark);
	border-radius: 2rem;
	
}

div2 {
	float:left;
	width: 35%;
	padding: 0 10px;
  }
  

.box_right{
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 8rem;
	margin-left: 10rem;
	margin-bottom: 2rem;
	max-width: 50rem;
	background-color: rgba(114, 165, 227, 0.1);

	border-radius: 2rem;
}

iframe {
	margin-top: 4rem;
	margin-left: 7rem;
}

.box_left{
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1rem;
	margin-left: 15rem;
	margin-bottom: 2rem;
	max-width: 50rem;
	background-color: rgba(114, 165, 227, 0.1);
	border-radius: 2rem;

}

.button_link {
	margin-left: 15rem;

}

svg {
	width: 100%;
	height: auto;
	justify-content: center;
}

svg .tick > text {
	font-size: 1rem;	
}

title_plot{
	color: rgb(8, 0, 0);
	font-size: xx-large;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

h3 {
	color: rgb(238, 14, 18);
	font-size: xx-large;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


info {
	color: rgb(238, 14, 18);
	font-size: x-large;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}


h5 {
	color: rgb(24, 23, 23);
	font-size: xx-large;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

h4{
	color: rgb(14, 36, 238);
	font-size: xx-large;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.usa_map {
	width : 80%;
	margin-left: auto;
	margin-right: auto;
}

.hit_rate {
	width : 80%;
	margin-left: auto;
	margin-right: auto;
}
